@import '../global/mixins.scss';
@import '../global/fonts-mixins/MerriweatherMix.scss';
@import '../global/fonts-mixins/GeorgiaMix.scss';
@import '../global/fonts-mixins/PTSansMix.scss';

.contact-me {
    background: $gray-primary;

    min-height: calc(100vh - (10.32rem + 3.6rem));

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1150px) {
        min-height: calc(100vh - (10.32rem + 7.16rem));
        padding: 8rem 0;
    }
    @media screen and (max-width: 991px) {
        min-height: auto
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        width: 100%;
    }

    &__inner {
        max-width: 40%;

        @media screen and (max-width: 991px) {
            max-width: 100%;
        }

        h1 {
            @include Merriweather-38px;
            color: $gray-secondary-light;

            margin-bottom: 3.2rem;

            @media screen and (max-width: 425px) {
                @include headlineMobile-30px;
                margin-bottom: 2.4rem;
            }
        }

        p {
            @include Georgia-18px;
            margin-bottom: 6.4rem;

            max-width: 60%;

            @media screen and (max-width: 991px) {
                max-width: 100%;
            }

            @media screen and (max-width: 425px) {
                @include textMobile-16px;
                margin-bottom: 3.2rem;
            }
        }

        h1, p {
            @media screen and (max-width: 991px) {
                text-align: center;
            }
        }

        a {
            display: flex;
            align-items: center;
            column-gap: 1.6rem;

            text-decoration: none;

            margin-bottom: 3.2rem;
        
            span {
                @include Georgia-18px;
            }
        }

        .contacts {
            @media screen and (max-width: 991px) {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }

            &__mail {
                @media screen and (max-width: 991px) {
                    margin-bottom: 0;
                }

                span {
                    color: $gray-secondary-light;
                }
            }

            &__social-logos {
                display: flex;
                align-items: center;

                column-gap: 2.4rem;

                @media screen and (max-width: 991px) {
                    column-gap: 4.8rem;
                    margin-bottom: 3.2rem;
                }

                @media screen and (max-width: 425px) {
                    margin-bottom: 1.6rem;
                }

                a {
                    margin-bottom: 0;

                    svg {
                        path, circle {
                            transition: all .3s;
                        }

                        &:hover {
                            path, circle {
                                transition: all .3s;
                            }
                        }
                    }
                }

                a:first-child {
                    &:hover {
                        svg {
                            path:first-child {
                                fill: white;
                            }

                            path {
                                fill: #7360F2;
                            }
                        }
                    }
                }

                a:nth-child(2) {
                    &:hover {
                        svg {
                            path:first-child {
                                fill: #24A1DE;
                            }

                            path {
                                fill: white;
                            }
                        }
                    }
                }

                a:last-child {
                    &:hover {
                        svg {
                            circle {
                                fill: white;
                            }
                            path {
                                fill: #25D366;
                            }
                        }
                    }
                }
            }
        }
    }

    .form-container {
        min-width: 50%;
        min-height: 28.8rem;

        @media screen and (max-width: 991px) {
            margin-bottom: 6.4rem;
            min-height: max-content;

            min-height: auto;
        }

        @media screen and (max-width: 425px) {
            margin-bottom: 4.8rem;
            min-height: auto;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            min-height: 28.8rem;
            width: 100%;

            @media screen and (max-width: 425px) {
                min-height: auto;
                justify-content: normal;
            }

            label {
                width: 100%;

                input {
                    width: 100%;

                    @include PTSans-18px;
                    color: $gray-secondary-light;

                    &:required:invalid {
                        border-color: #D30808;
                        outline: #D30808;
                    }

                    // &:focus, &:active {
                    //     background: $tetriary-inactive;
                    // }
                    
                }

                input, select {
                    padding: 2.4rem;
                    border-radius: 1.6rem;
                    border: none;
                    outline: none;

                    background: $tetriary;

                    max-height: 6.4rem;

                    @media screen and (max-width: 425px) {
                        padding: 1.6rem;
                    }
                }
            }

            .name {
                margin-bottom: 2.4rem;

                @media screen and (max-width: 425px) {
                    margin-bottom: 1.6rem;
                }

                input {
                    width: 100%;
                    min-width: 20rem
                }
            }

            .phone {
                display: flex;
                flex-direction: row;
                background: $tetriary;

                border-radius: 1.6rem;

                margin-bottom: 4.8rem;

                @media screen and (max-width: 425px) {
                    margin-bottom: 2.4rem;
                }

                select {
                    // direction: rtl;
                    min-width: 15%;

                    appearance: none;
                    background-image: url(../../images/content/contact-me/arrow.svg);
                    background-repeat: no-repeat;
                    background-position: left 0.7rem top 50%;
                    background-size: 2rem; 

                    option {
                        background-repeat: no-repeat;
                        background-size: 2rem; 

                        span {
                            width: 10rem;
                            height: 13rem;
                            display: block;
                        }
                    }
                }

                // input {
                //     border-bottom-right-radius: .1rem;
                //     border-top-right-radius: .1rem;
                // }

                // .gray-bg {
                //     background: $tetriary-inactive;
                // }
            }

            button {
                @include button;
                color: $tetriary;

                max-width: 35%;

                @media screen and (max-width: 991px) {
                    max-width: 100%;
                }
            }
        }
    }
}
