@import '../global.scss';

.contact-me {
    background: $gray;

    min-height: calc(100vh - (10.1rem + 3.6rem));

    display: flex;
    justify-content: center;
    align-items: center;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        width: 100%;
    }

    .text {
        max-width: 40%;

        h1 {
            @include headlineMerriweather-38px;
            color: $text-gray;

            margin-bottom: 3.2rem;
        }

        p {
            @include textGeorgia-18px;
            margin-bottom: 6.4rem;

            max-width: 60%;
        }

        a {
            display: flex;
            align-items: center;
            column-gap: 1.6rem;

            text-decoration: none;

            margin-bottom: 3.2rem;
        
            span {
                @include textGeorgia-18px;
            }
        }

        .social-logos {
            display: flex;
            align-items: center;

            column-gap: 2.4rem;

            a {
                svg {
                    path, circle {
                        transition: all .3s;
                    }

                    &:hover {
                        path, circle {
                            transition: all .3s;
                        }
                    }
                }
            }

            a:first-child {
                &:hover {
                    svg {
                        path:first-child {
                            fill: white;
                        }

                        path {
                            fill: #7360F2;
                        }
                    }
                }
            }

            a:nth-child(2) {
                &:hover {
                    svg {
                        path:first-child {
                            fill: #24A1DE;
                        }

                        path {
                            fill: white;
                        }
                    }
                }
            }

            a:last-child {
                &:hover {
                    svg {
                        circle {
                            fill: white;
                        }
                        path {
                            fill: #25D366;
                        }
                    }
                }
            }
        }
    }

    .form {
        min-width: 50%;
        min-height: 28.8rem;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            min-height: 28.8rem;
            width: 100%;

            label {
                width: 100%;

                input {
                    width: 100%;

                    @include PTSans-18px;
                    color: $text-gray;

                    &:required:invalid {
                        border-color: #D30808;
                        outline: #D30808;
                    }
                }

                input:not(:focus):invalid {
                    border-color: var(--color-invalid);
                  }

                input, .select-messenger {
                    padding: 2.4rem;
                    border-radius: 1.6rem;
                    border: none;
                    outline: none;

                    max-height: 6.4rem;

                    background: $white;

                    &:focus {
                        background: $white-additional;
                    }
                }
            }

            .name-label {
                margin-bottom: 2.4rem;

                input {
                    width: 100%;
                    min-width: 20rem
                }
            }

            .messengers-label {
                display: flex;
                flex-direction: row;
                background: $white;

                border-radius: 1.6rem;

                margin-bottom: 4.8rem;
                
                input {
                    border-bottom-right-radius: .1rem;
                    border-top-right-radius: .1rem;
                }

                .select-messenger {
                    width: max-content;
                    
                    display: flex;
                    column-gap: .8rem;
                    align-items: center;

                    border-top-left-radius: .1rem;
                    border-bottom-left-radius: .1rem;

                    &__open-btn {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .arrow-transform {
                        transform: rotate(180deg);
                    }

                    .list {
                        position: relative;
                        z-index: 1;

                        img {
                            max-width: 2.4rem;
                            max-height: 2.4rem;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &__options {
                            display: none;

                            padding: 1rem;
                            z-index: -1;

                            transition: all .5s;

                            background-color: $white;
                            
                            position: absolute;
                            top: 4rem;
                            right: -1rem;

                            border-radius: 1rem;

                            img:first-child {
                                margin-bottom: 1rem;
                            }

                        }

                        .opened {
                            display: block;
                            transition: all .5s;
                        }
                    }
                }

                .gray-bg {
                    background: $white-additional;
                }
            }

            button {
                @include button;
                color: $white;

                max-width: 35%;
            }
        }
    }
}
