$white: #F3F3F3;
$white-additional: #E3E3E3;
$orange: #F5540C;
$gray: #D2CCC6;
$black: #181716;
$text-gray: #4B4845;
$orange-hover: #FD6623;
$gray-additional: #D7D2CC;
$nav-articles: #3E3B39;
$articles-header: #1D1D1D;
$tags-bg: #4B4845;
$footer: #9A9590;
$tags: #4E4E4E;

@mixin dark {
    background: #181716;
}

@mixin color-orange {
    background: #F5540C;
}

@mixin text-color-white {
    color: #F3F3F3;
}

@mixin hovered-gray {
    fill: #D2CCC6;
}

@mixin text-color-gray {
    color: #9A9590;
}

@mixin highlight-class {
    color: $orange;
}

@mixin padding-top {
    padding-top: 7.2rem;
}

@mixin button {
    padding: 2rem 6.4rem;

    border-radius: 2.4rem;
    border: none;

    text-align: center;
    text-decoration: none;
    color: $white;

    background: $orange;

    transition: all .5s;

    font-family: 'PT Sans';
    font-size: 2rem;
    font-weight: 700;

    &:hover {
        background: $orange-hover;
        cursor: pointer;
        transition: all .5s;
    }
}

@mixin headlineMerriweather-24px {
    font-family: 'Merriweather';
    font-size: 2.4rem;
    font-weight: 700;
}

@mixin headlineMerriweather-28px {
    color: $black;

    font-family: 'Merriweather';
    font-size: 2.8rem;
    font-weight: 700;
}

@mixin headlineMerriweather-32px {
    color: $black;

    font-family: 'Merriweather';
    font-size: 3.2rem;
    font-weight: 400;
}

@mixin headlineMerriweather-38px {
    color: $black;

    font-family: 'Merriweather';
    font-size: 3.8rem;
    font-weight: 700;
}

@mixin textGeorgia-18px {
    color: $text-gray;

    font-family: Georgia;
    font-size: 1.8rem;
    font-weight: 400;
}

@mixin textGeorgia-20px {
    color: $text-gray;

    font-family: Georgia;
    font-size: 2rem;
    font-weight: 400;
}

@mixin textGeorgia-24px {
    color: $text-gray;

    font-family: Georgia;
    font-size: 2.4rem;
    font-weight: 400;
}

@mixin PTSans-24px {
    font-family: "PT Sans";
    font-size: 2.4rem;
    font-weight: 700;
}

@mixin PTSans-22px {
    font-family: "PT Sans";
    font-size: 2.2rem;
    font-weight: 700;
}

@mixin PTSans-20px {
    font-family: "PT Sans";
    font-size: 2rem;
    font-weight: 400;
}

@mixin PTSans-18px {
    font-family: "PT Sans";
    font-size: 1.8rem;
    font-weight: 400;
}

@mixin PTSans-14px {
    font-family: "PT Sans";
    font-size: 1.4rem;
    font-weight: 700;
}