@import '../global.scss';

footer {
    background: $gray;

    .container {
        display: flex;
        border-top: 1px solid $footer;

        @media screen and (max-width: 1150px) {
            flex-direction: column;
            padding: 0;
        }

        .contacts, .authors {
            display: flex;
            align-items: center;

            width: 50%;

            padding: .7rem 0;

            @media screen and (max-width:1150px) {
                width: 100%;
                padding: 0;
            }

            &__email, &__author, &__icons {
                @media screen and (max-width: 1150px) {
                    padding: 2.5rem 5.6rem;
                }
            }
        }

        .contacts {
            justify-content: space-between;

            padding-right: 5.5rem;
            border-right: 1px solid $footer;

            @media screen and (max-width:1150px) {
                border-bottom: 1px solid $footer;
                padding-right: 0;
            }

            &__email {
                &:hover {
                    cursor: pointer;
                }
                
                @media screen and (max-width:1150px) {
                    width: 50%;   
                    border-right: 1px solid $footer;
                }

                a {
                    text-decoration: none;

                    @include textGeorgia-18px;
                    color: $footer;
                }
            }

            &__icons {
                display: flex;
                column-gap: 2.4rem;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    

                    svg {
                        width: 2.4rem;
                        height: 2.4rem;

                        path, circle {
                            transition: all .3s;
                        }
    
                        &:hover {
                            path, circle {
                                transition: all .3s;
                            }
                        }
                    }
                }

                a:first-child {
                    &:hover {
                        svg {
                            path:first-child {
                                fill: white;
                            }
    
                            path {
                                fill: #7360F2;
                            }
                        }
                    }
                }
    
                a:nth-child(2) {
                    &:hover {
                        svg {
                            path:first-child {
                                fill: #24A1DE;
                            }
    
                            path {
                                fill: white;
                            }
                        }
                    }
                }
                
                a:last-child {
                    &:hover {
                        svg {
                            circle {
                                fill: white;
                            }
                            path {
                                fill: #25D366;
                            }
                        }
                    }
                }
            }
        }

        .authors {
            display: flex;
            justify-content: space-between;

            padding-left: 5.6rem;

            @media screen and (max-width: 1150px) {
                padding-left: 0;
            }

            &__author {
                display: flex;
                column-gap: .5rem;

                @media screen and (max-width: 1150px) {
                    flex-direction: column;
                    column-gap: 0;
                    row-gap: .5rem;
                }

                span, a {
                    @include textGeorgia-18px;
                }
    
                span {
                    color: $footer;
                }
    
                a {
                    color: $text-gray;
                    text-decoration: underline;
                }
            }

            &__author:first-child {
                @media screen and (max-width: 1150px) {
                    min-width: 50%;
                    border-right: 1px solid $footer;
                }
            }
        }

        .alone {
            display: flex;
            justify-content: space-between;
            width: 100%;

            padding-left: 0;
        } 
    }
}