@import '../../global.scss';

.post {
    background: $gray;

    padding: 8rem 0;

    .container {
        .header-post {
            display: flex;
            justify-content: space-between;

            margin-bottom: 7.2rem;

            .back {
                @include PTSans-18px;
                color: $footer;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    column-gap: .8rem;
                    
                    color: $footer;
                    transition: all .4s;

                    svg {
                        path {
                            transition: all .4s;
                        }
                    }

                    &:hover {
                        color: $articles-header;
                        transition: all .4s;

                        svg {
                            path {
                                fill: $articles-header;
                                transition: all .4s;
                            }
                        }
                    }

                    img {
                        width: 2.1rem;
                        height: 1.8rem;
                    }
                }

            }

            .back, .empty {
                width: 15rem;
            }

            .tags {
                display: flex;
                column-gap: 8rem;

                span {
                    @include textGeorgia-20px;
                    color: $tags;
                    font-weight: 700;
                }
            }
        }

        .main {
            padding: 0 8.6rem;

            h1 {
                @include headlineMerriweather-38px;
                color: $articles-header;

                margin-bottom: 4.8rem;
            }

            h2 {
                @include textGeorgia-18px;
                color: $articles-header;

                margin-bottom: 3.2rem;
            }

            .img-container {
                display: flex;
                flex-direction: column;

                img {
                    width: 70%;
                    max-height: 65rem;

                    margin-bottom: .8rem;
                }

                p {
                    @include textGeorgia-18px;
                    color: $articles-header;
                }
            }
        }

        .article {
            margin-top: 4rem;

            h3 {
                @include headlineMerriweather-32px;
                color: $articles-header;
                font-weight: 700;

                margin-bottom: 2.4rem;
            }

            .elements-with-text {
                @include textGeorgia-18px;
                color: $articles-header;

                display: flex;
                flex-direction: column;
                row-gap: 2.4rem;

                .ul, li, p {
                    @include textGeorgia-18px;
                    color: $articles-header;
                    text-align: justify;
                }
            }

            .ul, li, p {
                @include textGeorgia-18px;
                color: $articles-header;
                text-align: justify;
            }

            ul {
                padding-left: 2rem;
                @include textGeorgia-18px;
            }
        }

        .img-container-2 {
            margin-top: 4rem;
        }
    }
}